---
import { Image } from "astro:assets";
const { author } = Astro.props;
---

<div
  class="mt-3 rounded-2xl bg-gray-100 px-8 py-8 text-gray-500 dark:bg-gray-900 dark:text-gray-200"
>
  <div class="flex flex-wrap items-start gap-3 sm:flex-nowrap sm:gap-6">
    <div class="relative mt-1 h-24 w-24 flex-shrink-0">
      {
        author?.avatar_urls && (
          <Image
            src={
              author?.avatar_urls
                ? author?.avatar_urls["48"]
                : import(`../assets/authors/placeholder.jpg`)
            }
            alt={author.display_name}
            width={96}
            height={96}
            loading="eager"
            class="rounded-full"
          />
        )
      }
    </div>
    <div class="prose prose-base dark:prose-invert prose-a:text-blue-600">
      <div>
        <p class="text-lg font-medium text-gray-800 dark:text-gray-200">
          About {author.display_name}
        </p>
      </div>
      <div class="mt-3">
        <Fragment set:html={author?.description?.rendered} />
      </div>

      <a href={`/author/${author?.user_nicename}/`} class="no-underline text-lg font-medium text-gray-800 dark:text-gray-200"
        >View Profile</a
      >
    </div>
  </div>
</div>
