---
import cx from "classnames";
---

<span
  class={cx(
    "inline-block mt-5 text-sm font-medium tracking-wider uppercase text-categoryLabel-light dark:text-categoryLabel-dark",
  )}
>
  <slot />
</span>
